/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
BODY {
  font-size: 62.5%;
}

/* line 12, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
TABLE {
  width: 100%;
}

/* line 16, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board {
  width: 95%;
  margin: 2em auto;
}
/* line 20, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .vertical TD {
  width: 8.6%;
  height: 6.5em;
}
/* line 25, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .horizontal TD {
  width: 7%;
  height: 13em;
}
/* line 30, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .corner {
  width: 8.8% !important;
}
/* line 34, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD {
  border: 1px solid black;
  text-align: center;
}
/* line 38, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD SPAN {
  font-size: 2em;
}
/* line 43, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.red {
  background-color: #eb4b35;
}
/* line 46, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.orange {
  background-color: #eba535;
}
/* line 49, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.yellow {
  background-color: #f2e231;
}
/* line 52, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.green {
  background-color: #50c24d;
}
/* line 55, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.blue {
  background-color: #4c78e9;
}
/* line 58, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.pink {
  background-color: #da67d9;
}
/* line 61, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.purple {
  background-color: #8465e9;
}
/* line 64, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board TD.celest {
  background-color: #1eaaeb;
}
/* line 69, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .middle {
  position: relative;
}
/* line 72, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .middle .logo-bg {
  background: url(../img/monopoly-bg.png) no-repeat center;
  height: 580px;
  background-size: 50% 90%;
  -webkit-filter: blur(4px);
}
/* line 79, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .middle DIV {
  display: block;
  position: absolute;
  border: 2px solid #aaaaaa;
  width: 16em;
  height: 12em;
  line-height: 12em;
  top: 50%;
  margin-top: -6em;
  -webkit-transform: rotate(-45deg);
}
/* line 90, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .middle DIV.chest {
  left: 10%;
}
/* line 94, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly-board .middle DIV.chance {
  right: 10%;
}
