/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
BODY {
  font-size: 62.5%;
}

/* line 9, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly {
  margin: 2em;
  /************************ DASH BOARD ************************/
  /************************ GAME BOARD ************************/
}
/* line 14, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .dashboard {
  width: 25%;
  float: left;
}
/* line 19, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .dashboard .chat .messages {
  height: 35em;
  margin-right: 2em;
  border: 2px solid #aaaaaa;
}
/* line 28, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board {
  width: 75%;
  float: right;
}
/* line 32, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TABLE {
  width: 100%;
}
/* line 36, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .vertical TD {
  width: 8.6%;
  height: 6.5em;
}
/* line 41, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .horizontal TD {
  width: 7%;
  height: 7em;
}
/* line 46, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .corner {
  width: 5.5% !important;
}
/* line 50, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD {
  border: 1px solid black;
  text-align: center;
}
/* line 54, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD SPAN {
  font-size: 2em;
}
/* line 58, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.red {
  background-color: #eb4b35;
}
/* line 61, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.orange {
  background-color: #eba535;
}
/* line 64, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.yellow {
  background-color: #f2e231;
}
/* line 67, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.green {
  background-color: #50c24d;
}
/* line 70, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.blue {
  background-color: #4c78e9;
}
/* line 73, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.pink {
  background-color: #da67d9;
}
/* line 76, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.purple {
  background-color: #8465e9;
}
/* line 79, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board TD.celest {
  background-color: #1eaaeb;
}
/* line 84, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle {
  position: relative;
  vertical-align: top;
}
/* line 88, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle .logo-bg {
  background: url(../img/monopoly-bg.png) no-repeat center;
  background-size: contain;
  height: 158px;
  margin: 2em;
  opacity: .3;
}
/* line 96, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle .deck {
  display: block;
  position: absolute;
  border: 2px solid #aaaaaa;
  width: 16em;
  height: 12em;
  line-height: 12em;
  top: 50%;
  margin-top: -6em;
  -webkit-transform: rotate(-45deg);
}
/* line 107, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle .deck.chest {
  left: 10%;
}
/* line 111, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle .deck.chance {
  right: 10%;
}
/* line 116, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle .dice {
  width: 5em;
  height: 5em;
  line-height: 5em;
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
  border: 2px solid black;
}
/* line 125, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle .dice.dice-1 {
  left: 50%;
  margin-left: -5.5em;
}
/* line 130, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly .monopoly-board .middle .dice.dice-2 {
  right: 50%;
  margin-right: -5.5em;
}
