/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* VARIABLES DEFINED HERE:  */
/********************************************************/
/*------------------------ DICE ------------------------*/
/********************************************************/
/* line 5, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper {
  position: relative;
  width: 5em;
  margin: 0 auto;
}
/* line 10, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper.dice-1 {
  left: 50%;
  margin-left: -5.5em;
}
/* line 15, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper.dice-2 {
  right: 50%;
  margin-right: -5.5em;
}
/* line 20, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dice {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 0.5em;
  margin-top: -2.5em;
  box-shadow: -0.2em 0.1em 0.5em -0.1em #222222, -0.4em 0.2em 1em 0.2em #777777;
}
/* line 28, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dice > DIV {
  display: none;
}
/* line 32, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dice > .show {
  display: block;
}
/* line 37, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dot {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #888;
  box-shadow: inset 0.1em 0 0.1em #333333;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
/* line 47, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dot.center {
  top: 50%;
  right: 50%;
  margin-right: -0.5em;
  margin-top: -0.5em;
}
/* line 53, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dot.dtop {
  top: 12%;
}
/* line 56, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dot.dleft {
  margin-left: 12%;
  left: 0;
}
/* line 60, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dot.dright {
  margin-right: 12%;
  right: 0;
}
/* line 64, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dot.dbottom {
  margin-top: 88%;
  top: -1em;
}
/* line 68, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dice.scss */
.dice-wrapper .dot.center.dleft, .dice-wrapper .dot.center.dright {
  top: 50%;
  margin-top: -0.5em;
}

/********************************************************/
/*--------------------- DASH BOARD ---------------------*/
/********************************************************/
/* line 5, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dashboard.scss */
.dashboard {
  width: 25%;
  float: left;
  /* BUTTONS */
}
/* line 10, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dashboard.scss */
.dashboard .actions {
  margin-top: 1.5em;
  text-align: center;
}
/* line 14, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dashboard.scss */
.dashboard .actions .btn {
  width: 30%;
  height: 6em;
  margin: 0.5em 0.5em 0 0;
  line-height: 6em;
  border-radius: 5px;
  border: 2px solid #aaaaaa;
  float: left;
  cursor: pointer;
}
/* line 24, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_dashboard.scss */
.dashboard .actions .btn.manage-assets {
  line-height: 2.5em;
}

/********************************************************/
/*------------------------ CHAT ------------------------*/
/********************************************************/
/* line 5, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat {
  margin-right: 2em;
}
/* line 8, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .chatter {
  padding: .5em;
  height: 35em;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  overflow-y: auto;
}
/* line 16, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .chatter EM.player-a {
  color: red;
}
/* line 20, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .chatter EM.player-b {
  color: green;
}
/* line 24, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .chatter EM.player-c {
  color: gray;
}
/* line 28, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .chatter EM.player-d {
  color: maroon;
}
/* line 34, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .input-wrapper {
  border: 2px solid #aaaaaa;
  position: relative;
  margin-top: .5em;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  padding: 0.3em 0.5em;
}
/* line 43, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .input-wrapper .write {
  width: 70%;
  position: absolute;
  left: .5em;
  padding: 0 0.5em;
}
/* line 50, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_chat.scss */
.chat .input-wrapper .send {
  width: 25%;
  height: 2em;
  position: absolute;
  right: .5em;
  background-color: #aaa;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

/*********************************************************/
/*----------------------- EFFECTS -----------------------*/
/*********************************************************/
/* line 5, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_effects.scss */
.fade-out {
  opacity: 0;
  -webkit-transform: scale(0.75);
  transition: all 0.5s ease-in-out;
}

/* line 11, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_effects.scss */
.fade-in {
  opacity: 1;
  -webkit-transform: scale(1);
  transition: all 0.25s ease-in-out;
}

/* line 17, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_effects.scss */
.rotate {
  -webkit-transform: rotate(720deg);
  transition: all 1.5s ease-in-out;
  transition-delay: .5s;
}
/* line 22, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_effects.scss */
.rotate.dice-2 {
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  transition-delay: .75s;
}
/* line 30, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_effects.scss */
.rotate .dot {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
}

/* line 37, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_effects.scss */
.shake.dice-2 {
  -webkit-animation-delay: 0.25s;
}
/* line 41, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/_effects.scss */
.shake .dot {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
}

/************************ GENERAL STYLES ************************/
/* line 10, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
BODY {
  font-size: 62.5%;
  font-family: arial;
}
/* line 14, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
BODY * {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 20, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
BODY INPUT {
  border: 0;
  padding: 0;
}
/* line 25, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
BODY SPAN {
  font-size: 2em;
}
/* line 29, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
BODY EM {
  font-style: italic;
}

/************************ GAME UI STYLES ************************/
/* line 36, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.monopoly {
  margin: 2em;
}

/************************ GAME BOARD ************************/
/* line 41, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard {
  width: 75%;
  float: right;
  /* NOTIFICATIONS */
}
/* line 45, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TABLE {
  width: 100%;
}
/* line 49, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .vertical TD {
  width: 8.6%;
  height: 5.8em;
}
/* line 54, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .horizontal TD {
  width: 7%;
  height: 7em;
}
/* line 59, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .corner {
  width: 5.5% !important;
}
/* line 63, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD {
  border: 1px solid black;
  text-align: center;
}
/* line 67, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD SPAN {
  font-size: 2em;
}
/* line 71, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.red {
  background-color: #eb4b35;
}
/* line 74, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.orange {
  background-color: #eba535;
}
/* line 77, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.yellow {
  background-color: #f2e231;
}
/* line 80, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.green {
  background-color: #50c24d;
}
/* line 83, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.blue {
  background-color: #4c78e9;
}
/* line 86, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.pink {
  background-color: #da67d9;
}
/* line 89, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.purple {
  background-color: #8465e9;
}
/* line 92, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard TD.celest {
  background-color: #1eaaeb;
}
/* line 97, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .middle {
  position: relative;
}
/* line 101, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .middle .logo-bg {
  background: url(../img/monopoly-bg.png) no-repeat center;
  background-size: contain;
  height: 158px;
  margin: 2em;
}
/* line 109, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .middle .deck {
  display: block;
  position: absolute;
  width: 16em;
  height: 12em;
  line-height: 12em;
  top: 50%;
  margin-top: -6em;
  -webkit-transform: rotate(-45deg);
  background: #fff;
  opacity: 0.8;
  border-radius: 1em;
  box-shadow: -0.2em 0.1em 0.5em -0.1em #222222, -0.4em 0.2em 1em 0.2em #777777;
}
/* line 123, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .middle .deck.chest {
  left: 10%;
}
/* line 127, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .middle .deck.chance {
  right: 10%;
}
/* line 134, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .notifications {
  width: 84%;
  height: 10em;
  background-color: #8465e9;
  position: absolute;
  top: 5em;
  left: 8%;
  padding: 1em;
  border-radius: 10px;
}
/* line 144, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .notifications .message {
  color: #AEADE9;
  margin-top: 1em;
  display: block;
}
/* line 150, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .notifications .close {
  width: 3em;
  height: 3em;
  position: absolute;
  right: -1em;
  top: -1em;
  color: #aaa;
  border: 2px solid #e6e6e6;
  border-radius: 2em;
  padding: 0.4em 0;
  cursor: pointer;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(#f2f2f2, #cccccc);
  box-shadow: inset 0 1px 1px rgba(191, 191, 191, 0.75), 0 2px 1px rgba(0, 0, 0, 0.25);
}
/* line 164, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .notifications .close:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(#b3b3b3, #8c8c8c);
  color: #e6e6e6;
}
/* line 169, C:/Users/Gil/Dropbox/Projects/Game dev/source/scss/game.scss */
.gameboard .notifications .close SPAN {
  font-size: 2em;
}
