/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

BODY{
	font-size: 62.5%;	
}

TABLE{
	width:100%;
}

.monopoly-board{
	width: 95%;
	margin:2.5em auto;
	
	TD{
		height:6.5em;
		width: 8.6%;
		border:1px solid #000000;
		text-align: center;
	}

	.corner{
		width: 8.8%;		
	}	
}